.todo-item {
  background-color: #37353e;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
  padding: 5px 10px;
  border-radius: 10px;
}

.todo-item > div.checked {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid;
}
.todo-item > div.checked.completed {
  background-color: green;
  border-color: green;
}

.todo-item > p {
  font-size: 18px;
}
.todo-item > p.completed {
  text-decoration: line-through;
}
